*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#050505;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
background:#000;
position:sticky;
top:0;
}

.logo{
font-size:32px;
font-weight:bold;
color:#ffffff;
}

.logo span{
color:#00e676;
}

nav a{
color:white;
text-decoration:none;
margin-left:30px;
font-size:18px;
transition:.3s;
}

nav a:hover{
color:#00e676;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:100px 8%;
min-height:90vh;
}

.left{
width:55%;
}

.left h4{
color:#00e676;
letter-spacing:3px;
margin-bottom:20px;
}

.left h1{
font-size:60px;
line-height:1.2;
margin-bottom:25px;
}

.left h1 span{
color:#00e676;
}

.left p{
font-size:20px;
color:#cfcfcf;
line-height:1.8;
margin-bottom:35px;
}

button{
background:#00e676;
color:black;
border:none;
padding:16px 35px;
font-size:20px;
border-radius:50px;
cursor:pointer;
font-weight:bold;
transition:.3s;
}

button:hover{
transform:scale(1.05);
}

.right{
display:flex;
flex-direction:column;
gap:25px;
}

.card{
background:#111;
padding:30px;
border-radius:20px;
width:260px;
border:1px solid #00e676;
box-shadow:0 0 20px rgba(0,230,118,.2);
}

.card h2{
font-size:38px;
color:#00e676;
margin-bottom:10px;
}

.card p{
font-size:18px;
color:#ddd;
}

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.left{
width:100%;
}

.right{
margin-top:40px;
}

.left h1{
font-size:42px;
}

nav{
display:none;
}

}